{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{% static 'images/SweetDreamsLogo.png' %}" alt="Sweet Dreams Logo">
            </div>
            <div class="logout">
                <a href="#">Log Out</a>
            </div>
        </header>

        <main>
            <div class="title">
                <img src="{% static 'images/imagemFeedback.png' %}" alt="Feedback">
            </div>
            <div class="feedback-options">
                <div class="option">
                    <img src="{% static 'images/cerebroTerribleFeedback.png' %}" alt="Terrible">
                    <p>Terrible</p>
                </div>
                <div class="option">
                    <img src="{% static 'images/cerebroBadFeedback.png' %}" alt="Bad">
                    <p>Bad</p>
                </div>
                <div class="option">
                    <img src="{% static 'images/cerebroDashboard_Feedback.png' %}" alt="Good">
                    <p>Good</p>
                </div>
                <div class="option">
                    <img src="{% static 'images/cerebroExellentFeedback.png' %}" alt="Excellent">
                    <p>Excellent</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
